/* Coolors Exported Palette - coolors.co/f038ff-2176ff-33a1fd-ffe548-ee2e31 */

/* HSL */
$color1: hsla(295%, 100%, 61%, 1);
$color2: hsla(217%, 100%, 56%, 1);
$color3: hsla(207%, 98%, 60%, 1);
$color4: hsla(51%, 100%, 64%, 1);
$color5: hsla(359%, 85%, 56%, 1);

/* RGB */
$color1: rgba(240, 56, 255, 1);
$color2: rgba(33, 118, 255, 1);
$color3: rgba(51, 161, 253, 1);
$color4: rgba(255, 229, 72, 1);
$color5: rgba(238, 46, 49, 1);