@import '../cores';
@import '../fonts/Fontes';

#formNovaLista{
    text-align: center;
    border-radius: 15px;
    padding:35px;
    font-family: $fonte-principal;
    
    #buscador{
        color:#ffffffe1;
        background-color:#000000cc;
        margin: 5px;
        padding: 5px;
    }
    #botao{
        color: white;
        background-color:$cor-fundo-item1;
        padding: 5px;
    }

}
    
.cartao{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 1000px;
        border-radius: 15px;
        border: 1px solid black;
        padding: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 300px;
        margin-right: 300px;
    .img{
        margin:6px ;
        padding: 2px;
        
    }
    
    .carton_principal{
        .carton_titulo{
        text-align: center;
        font-family: $fonte-principal;
        color:$cor-menu;
        font-size: 40px;
            }
        .carton_texto{
        text-align: justify;
        font-size: 24px;
        font-family: $fonte-lista;
          #tipo{
              background-color: $cor-font-item3;
          }
          #episodios{
            background-color: $cor-fundo-item2;
          }
          #data{
              background-color: $cor-fundo-item1;
          }
        
    }

    }
}