@import '../cores';
@import '../fonts/Fontes';

#buscador{
    text-align: center;
    font-family: $fonte-principal;
    color:white;
    background-color:whitesmoke;
    padding:15px;
    border-radius: 5px;
    

}