@import '../cores';
@import '../fonts/Fontes';

#buscador{
    text-align: center;
    font-family: $fonte-principal;
    color:white;
    background-color:whitesmoke;
    padding:15px;
    border-radius: 5px;
}
.cartao{
    display: flex;
    flex-direction: row;
    padding:10px;
    margin:3% 20% 3% 20% ;
    border-radius: 15px;
    border-style: solid;
    border-color:$cor-font-item3;
    background-color: rgba(0, 143, 214, 0.068); 
    
    .img{
        flex: 1;
	    margin:10px ;
        text-align: left;
         padding:10px;
         width: 10px;
         height: 400px;
    }
    
    .card_principal{
        flex: 2;
        padding:20px;
        display:column;
        .card_titulo{
        flex:1;    
        text-align: center;
        font-family: $fonte-principal;
        color:$cor-menu;
        font-size: 40px;
            }
        .card_texto{
        flex:2;    
        text-align: justify;
        font-size: 24px;
        font-family: $fonte-lista;
        
    }

    }
}