ul{
    text-decoration: none;
    list-style-type: none;
   
}
a{  text-decoration: none;
   
}
#botao{
    background-color:#EDDDD4;
    border:#EDDDD4 ;
    padding: 10px;
    transition-duration: 1s;
    font-size: 22px;
  }
  #botao:hover{
    background-color:#C8BFC7; }