@import '../Cores';
@import '../fonts/Fontes';
.header{
    background-color: $cor2;
    
    padding: 5px 10px;
    *{
        vertical-align: middle;
    }
    img{
        width: 50px;
        margin-right: 20px;
    }
    span{
        font-family:$fonte-decorativa;
        color:black;
        font-size: 150%;
        vertical-align: 10px;
        text-shadow: 2px 2px #333333;
    }
}