.banner {
    background-color: #012A36;
    padding: 20px 0px 10px 20px;
}

#titulo {
    font-size: 150%;
    font-weight: bold;
    margin-right: 10px;
}

#titulo a {
    color: white;
    text-decoration: none;
}

#titulo a:hover {
    color: #E6BCCD;
}

#menu {
    list-style: none;
    display: inline;
}

#menu li {
    display: inline;
    margin-right: 20px;
    padding-bottom: 3px;
}

#menu li:hover {
    border-bottom: 5px solid #B0DAF1;
}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 110%;
}